body{
    overflow: hidden;
    background-color: black;
}

canvas#matrix-effect{
    z-index: -1;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(107, 107, 107, 0.329);

}